.row{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 3px solid #EDEFF2;
}
.one, .two, .three {
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Light';
    font-size: 13px;
    color: #7D8FB3;
}

.ShoppingBasketIcon{
    color: #7d8fb3bd;
}

.two p {
    margin: 0px 10px;
    padding: 0px 0px 20px 0;
}

.product_title{
    color: #687eaa;
}

.product{
    background-color: #fff;
    padding: 2px 4px;
    margin-right: 15px;
    border-radius: 5px;
}

.three button{
    display: flex;
    font-family: 'Gilroy-Light';
    align-items: center;
    background-color: #8833FF;
    color: #fff;
    border: none;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 30px;
    letter-spacing: 0.5px;
}

.Active{
    color: #8833FF;
    border-bottom: 1px solid #8833FF;
    padding: 0px 0px 20px 0;
}

.AddCircleIcon{
    margin-right: 5px;
    color: #ffffffbd;
}

/* ///////////////////////////////////// */

.four, .five, .six {
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Light';
    font-size: 13px;
    color: #7D8FB3;
}

.CheckCircleIcon{
    color: #7d8fb3bd;
    margin-right: 10px;
}

.check{
    display: flex;
    align-items: center;
}

.four {
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Light';
}

.middle01, .middle02, .middle03, .middle04{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 10px;
    border: 1px solid #00000026;
}

.icon{
    margin-right: 5px;
    color: #7d8fb3bd;
}

.last_title{
    background-color: #fff;
    padding: 8px 10px;
    border: 1px solid #00000026;
}