.shop_container {
    background: #f7f8fa;
}

.grid-container {
    display: grid;
    grid-template-columns: 7% 75% 18%;
}

.product_wrpp {
    margin: 2rem;
    border-radius: 20px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media only screen and (max-width: 1608px) {

    .grid-container {
        display: grid;
        grid-template-columns: 100%;
    }

}